<div>
  <div class="jumbotron" style="margin: 25px">
    <h2 style="text-align: center;padding-top: 5%">Register</h2>
    <p style="text-align: center">Enter the valid E-mail address and the password!</p>
    <form action="">
      <div class="container">
        <p style="text-align: center;padding: 20px">
          E-MAIL : <input type="text" name="email" placeholder="Enter your email address" email required
            style="padding-right: 60px;margin-left: 40px"></p>
        <p style="text-align: center;padding-bottom: 20px">
          PASSWORD : <input type="text" name="password" placeholder="Enter your password" email required
            style="padding-right: 60px;margin-left: 5px"></p>
      </div>
      <div class="container">
        <p style="text-align: center">
          DOB : <input type="text" name="dob" placeholder="Enter your dateofbirth" required
            style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"> <br>
          <button class="btn btn-primary" style="margin-top: 20px"> Register</button>
        </p>
      </div>
    </form>
  </div>
</div>